.button--add {
  font-size: 60px;
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;
}

.add-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
