.action-bar {
  width: 90%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em 0 1em 0;
  height: auto;
  border-radius: 22px 22px 0 0;
  border: 1px solid #cccbcb;
}

.button--action {
  width: 10%;
  height: 30px;
  min-width: 150px;
}

.input-search {
  width: 20%;
  height: 30px;
  border-radius: 5px;
}

/* collapse */

.faqs {
  width: 50%;
  max-width: 768px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.faq {
  width: 200px;
}

.faq-question {
  width: 100%;
}

.faqs .faq {
  margin: 15px;
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.faqs .faq .faq-question {
  position: relative;
  font-size: 18px;
  text-align: center;

  -webkit-transition: 0.4s ease;
  transition: all 0.4s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
