.counter {
  width: 200px;
  height: 130px;
  border: 1px solid #cccbcb;
  margin: 1em;
  border-radius: 5px;
}

.counter-title {
  margin: 0;
  text-align: center;
  padding: 1em;
  font-size: 15px;
  font-weight: bold;
}

.button--delete {
  float: right;
}

.button--delete:hover {
  background-color: #cccbcb;
}

.count {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.number-counter {
  font-size: 40px;
  margin: 0;
}

.action {
  font-size: 25px;
}
