.button-sort {
  width: 100%;
  background-color: white;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  height: 2vw;
  min-height: 30px;
  min-width: 100px;
  margin: 5px 0;
  color: #900c3f;
  font-weight: 700;
}

.button-sort:hover {
  background-color: #ebebeb;
  color: #ff5733;
}

.input-filter {
  width: auto;
  border: 1px solid #cbcbcb;
  min-width: 130px;
  border-radius: 4px;
  height: 2vw;
  min-height: 30px;
  margin: 5px 0;
}

.button-symbol {
  width: auto;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  height: 2vw;
  color: #900c3f;
  font-weight: 700;
}
