body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
}

.counters {
  width: 68%;
  height: 100vh;
  float: right;
}

.bar {
  width: 25%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  background-color: #f3f2f2;
}
